# Directories
assets_extracted/
binaries/
build/
downloads/
doxygen/
test_env/
venv*/
__pycache__/**

# Files
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
user_project.py
CMakeUserPresets.json
./funcs.h
patches.map

# Entensions:
*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.dylib
*.so
*.so.1.0
*.lib
*.pdb
*.exp
*.pyc
*.thunderstore.zip
*.nrm